.body{
    font-family: sans-serif;
    scroll-behavior: smooth;
}
header{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
}
.navbar-brand {
    font-weight: bold;
}
section {
    padding: 60px;
    padding-bottom: 60px
}
.card
{
    transition: transform 0.3s ease-in-out;
}
.card:hover {
    transform: translateY(-10px);
}
footer {
    background-color: #36383b;
}
